.welcome-container {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #072cd2, #3e1c60);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .welcome-title {  
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #030a10;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fcfcfc, #779ce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1.2s ease;
  
  }
  
  .welcome-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #030a10;

    margin-top: 10px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fcfcfc, #9595e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1.2s ease;
  }
  
  .welcome-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .shop-btn, .rating-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  