/* body{
  margin :0;
  font-family: "Poppins";
  background-color: #f6f6f6;
  height: 100vh;
} */
/* Styles généraux pour l'application */



.content {
  flex: 1;
  margin-left: 250px; /* Correspond à la largeur de la sidebar */
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

/* Styles responsives */
@media (max-width: 768px) {
 

  .content {
   
height: 100%;
margin-left: 0;
padding: 20px;
background-color: white;
  }

}